body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box {
    width: 300px;
    padding: 30px;
    border: 8px solid navy;
    text-align: center;
}

.default {
    background-color: lightblue;
}

.border {
    box-sizing: border-box;
    background-color: lightgreen;
}

@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
    }

    .box {
        width: 80%;
    }
}