body {
    margin: 0;
    padding: 30px;
    font-family: Arial, sans-serif;
    background-color: lightgray;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product {
    height: 150px;
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
    transition: 0.3s;
}

.product:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 900px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}